@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>



<head>
    <style>
    .chart {
        height: 200px;
    }

    .spacer {
        height: 20px;
    }

    p {text-align: left; font-size: 25px; initial-letter-align: }

    chartData {font-size: 15px;}
</style>
</head>

<div>
<div class="container-fluid" id="chartData">
      <div class="row">

        <div class="col-sm-3">
        <div class="col-xs-12" style="height:50px;"></div>
        <div class="col-xs-12" style="height:50px;"></div>

        <p>Monthly Revenue:</p>
        
         <div class="row" >
            <div class="col-sm-6" style="font-size: 20px">@Html.DisplayName("Total Income:")</div>
            <div class="col-sm-6" style="font-size: 20px">$ @ViewBag.IncomeTotal</div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="font-size: 20px">@Html.DisplayName("Total Expenses:")</div>
            <div class="col-sm-6" style="font-size: 20px">$ @ViewBag.ExpTotal</div>
        </div>
        <div class="col-xs-12" style="height:20px;">-------------</div>
        <div class="row" >
            <div class="col-sm-6" style="font-size: 20px"> <b>@Html.DisplayName("Revenue:") </b></div>
            <div class="col-sm-6" style="font-size: 20px"> <b>$ @ViewBag.RevTotal </b></div>
        </div>

        
    </div>    


    <div class="col-sm-9">
        <figure class="highcharts-figure">
            <div id="container"></div>
            <p class="highcharts-description"> </p>
        </figure>

<script>

$(document).ready(function(){

    $.getJSON("test/ChartData", function(data){
        Highcharts.chart('container', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Income vs. Expenses'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    accessibility: {
        point: {
            valueSuffix: '%'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
            }
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Expenses',
            y: data.revenue1,
            sliced: true,
            selected: true
        }, {
            name: 'Revenue',
            y: data.cost1
        }]
    }]
});
    });
});
</script>
        
        
        </div>

      </div>         
</div>
</div>