@model IEnumerable<MWayV2.Models.Budget>
@{
    ViewData["Title"] = "Index";
}
<head>  
    <title>Demo</title>  
    <meta charset="utf-8" />  
    <meta name="viewport" content="width=device-width, initial-scale=1" />  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<body>  
   
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function() {
            $.ajax( {
                type: "POST",
                url: "/Budget/AjaxBudget",
                dataType: "json",
                data: {a: $("#BudgetGroup0").val(), b: $("#BudgetItemName0").val(),
                c: $("#BudgetItemCost0").val(), d: $("#MonthlyYearly0").val()},

                success: function(response)
                {
                    alert("Hello" + JSON.stringify(response));
                },
                error: function(response)
                {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
     


    <form id="form1" >  
        <div class="container">  
            <h2>Basic Table</h2>  
            <table class="table" id="maintable">  
                <thead>  
                    <tr>  
                        <th>Budget Group Name</th>  
                        <th>Item</th>  
                        <th>Item Cost</th> 
                        <th>Time Group</th> 
                    </tr>  
                </thead>  
                <tbody>  
                    <tr class="data-contact-person">  
                        <td>  
                            <input type="text" id="BudgetGroup0" class="form-control BudgetGroup01" /></td>  
                        <td>  
                            <input type="text" id="BudgetItemName0" class="form-control BudgetItemName01" /></td>  
                        <td>  
                            <input type="number" step="0.01" id="BudgetItemCost0" class="form-control BudgetItemCost01" /></td>  
                        <td>  
                            <input type="text" id="MonthlyYearly0" class="form-control MonthlyYearly01" /></td>  
                        <td>  
                            <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm">Submit</button>    
                        </td>  
                    </tr>  
                </tbody>  
            </table>  
            
        </div>  
    </form>  
    
   

    <table>
    <thead>
        <tr>
            <th>@Html.DisplayName("Employee Name")</th>
            <th>@Html.DisplayName("Designation")</th>
            <th>@Html.DisplayName("Salary")</th>
            <th>@Html.DisplayName("Address")</th>
        </tr>
    </thead>

    
    <tbody id="test">
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.BudgetGroup)</td>
                <td>@Html.DisplayFor(modelItem => item.BudgetItemName)</td>
                <td>@Html.DisplayFor(modelItem => item.BudgetItemCost)</td>
                <td>@Html.DisplayFor(modelItem => item.MonthlyYearly)</td>
               @* <td><button type="button" id="editBtn" class="btn btn-primary btn-md pull-right btn-sm" data-toggle="ajax-model"
                data-target="#editEmp" data-url="@Url.Action($"Edit/{item.BudgetItemID}")">Edit</button></td>*@

                <td><button type="button" id="btnDelete" class="deleteContact btn btn btn-danger btn-sm">Remove</button></td>
            </tr>
        }
    </tbody>

</table>

</body> 

