@model MWayV2.Models.Budget

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Expense Item</h1>


<div>

    <hr />
    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayName("Expense Group")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Expense Item")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Expense Cost")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BudgetItemCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Payment Time")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyYearly)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BudgetItemID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
