@model IEnumerable<MWayV2.Models.Budget>

@{
    ViewData["Title"] = "Index";
    
}

@if(TempData["success"] != null)
{
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <script type="text/javascript">
        toastr.success('@TempData["success"]')
    </script>
}


<head>
    <style>
        tr{text-align: center;}
        td{text-align: center;}
        input:placeholder-shown {
         font-style: italic;
    </style>

</head>

<h1 style="text-align: center">Enter Your Expenses</h1>

 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>



<script type="text/javascript">
    $(document).ready(function(){
    $("#btnSubmit").click(function(){
        $.ajax({
            type: "POST",
            url: "/Budgets/AjaxBud",
            datatype: "json",
            data: {a: $("#budgetGroup").val(), b: $("#BudgetItem").val(),
            c: $("#ItemCost").val(), d: $("#TimeGroup").val()},
            success: function (xml) {
                setInterval('refreshPage()', 50);
            }

        });
    }); 
});

function refreshPage() {
    location.reload(true);
}
</script>

<div id="PlaceHolderHere"></div>

<form id="form">
    <div class="container">
 
        <table class="table" id="maintable">
            <thead>
                <tr>
                    <th>Expense Group</th>
                    <th>Expense Item</th>
                    <th>Expense Cost</th>
                    <th>Payment Time</th>
                     <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <input type="text" id="budgetGroup" class="form-control budgetGroup0" placeholder="Home, Car, Electronics, Other"/>
                    </td>
                    <td>
                        <input type="text" id="BudgetItem" class="form-control BudgetItem0" placeholder="Rent Bill"/>
                    </td>
                    <td>
                        <input type="text" id="ItemCost" class="form-control ItemCost0" placeholder="1200"/>
                    </td>
                    <td>
                        <input type="text" id="TimeGroup" class="form-control TimeGroup0" placeholder="Monthly, Yearly" />
                    </td>
                    <td>
                        <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm">Sumbit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Expense Group")
            </th>
            <th>
                @Html.DisplayName("Expense Item")
            </th>
            <th>
                @Html.DisplayName("Expense Cost")
            </th>
            <th>
                @Html.DisplayName("Payment Time")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        //@if(item.IdHolder == )
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetItemName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.BudgetItemCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyYearly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BudgetItemID" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.BudgetItemID" class="deleteContact btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


