@model MWayV2.Models.Revenue

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Revenue Item</h1>


<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Income)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Income)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeMonthlyYearly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeMonthlyYearly)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RevenueId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
