@model IEnumerable<MWayV2.Models.Revenue>

@{
    ViewData["Title"] = "Index";
}

<h1>Add Your Income</h1>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>



    <script type="text/javascript">
    $(document).ready(function(){
    $("#btnSubmit").click(function(){
        $.ajax({
            type: "POST",
            url: "/Revenue/AjaxRev",
            datatype: "json",
            data: {a: $("#IncomeName").val(), b: $("#Income").val(),
            c: $("#IncomeMonthlyYearly").val()},
            
            success: function(response){
                alert("Success")
            },
            error: function(response){
                alert(response.responseText);
            }
        });
    }); 
});
</script>

<div id="PlaceHolderHere"></div>

<form id="form">
    <div class="container">

        <table class="table" id="maintable">
            <thead>
                <tr>
                    <th>Income Source</th>
                    <th>Income Amount</th>
                    <th>Payment Time</th>
                </tr>
            </thead>
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <input type="text" id="IncomeName" class="form-control budgetGroup0" />
                    </td>
                    <td>
                        <input type="text" id="Income" class="form-control BudgetItem0" />
                    </td>
                    <td>
                        <input type="text" id="IncomeMonthlyYearly" class="form-control ItemCost0" />
                    </td>
                    <td>
                        <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm">Sumbit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncomeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeMonthlyYearly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeName)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeMonthlyYearly)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RevenueId" class="btn btn-primary btn-sm">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.RevenueId" class="deleteContact btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
