@model IEnumerable<MWayV2.Models.Revenue>

@{
    ViewData["Title"] = "test";
}

<h1>test</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IncomeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeMonthlyYearly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHolder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeMonthlyYearly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHolder)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RevenueId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RevenueId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RevenueId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
