@model MWayV2.Models.ToDo

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete To Do Item</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoDescription)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDoIsComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDoIsComplete)
        </dd>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ToDoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index"class="btn btn-primary">Back to List</a>
    </form>
</div>
