@model IEnumerable<MWayV2.Models.ToDo>

@{
    ViewData["Title"] = "Index";
}
    @if(TempData["success"] != null)
{
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <script type="text/javascript">
        toastr.success('@TempData["success"]')
    </script>
}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

<head>
    <style>
        tr{text-align: center;}
        td{text-align: center;}
        input:placeholder-shown {
         font-style: italic;
}
    </style>
</head>


    <script type="text/javascript">
    $(document).ready(function(){
    $("#btnSubmit").click(function(){
        $.ajax({
            type: "POST",
            url: "/ToDo/AjaxToDo",
            datatype: "json",
            data: {a: $("#todoname").val(), b: $("#tododescrip").val()},
            
            success: function (xml) {
                setInterval('refreshPage()', 50);
            }

        });
    }); 
});

function refreshPage() {
    location.reload(true);
}
</script>

<div id="PlaceHolderHere"></div>

<form id="form">
    <div class="container">
        <h1 style="text-align: center">To Do List</h1>
        <table class="table" id="maintable">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="data-contact-person">
                    <td>
                        <input type="text" id="todoname" class="form-control todoname0" placeholder="Shopping List" />
                    </td>
                    <td>
                        <input type="text" id="tododescrip" class="form-control tododescrip0" placeholder="Chicken, Peas, Carrots"/>
                    </td>
                    <td>
                        <button type="button" id="btnSubmit" class="btn btn-primary btn-md pull-right btn-sm">Sumbit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayName("Task")
            </th>
            <th style="text-align: left; padding-left: 150px;">
                 @Html.DisplayName("Description")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToDoName)
            </td>
            <td style="text-align: left; padding-left: 150px;">
                @Html.DisplayFor(modelItem => item.ToDoDescription)
            </td>
            <td >
                <a asp-action="Edit" asp-route-id="@item.ToDoId" class="btn btn-primary btn-md pull-right btn-sm">Edit</a> |
                
                <a asp-action="Delete" asp-route-id="@item.ToDoId" class="deleteContact btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
